/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #ddd;
}

h1, h2, h4, strong {
    font-weight: 500;
    font-family: Montserrat;
    color: #222;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 20px;
    text-align: center;
    padding: 5px 0 10px 0;
}

p {
    font-size: 16px;
    color: #222;
    margin: 15px 0 5px 0;
}
strong {
    opacity: .5;
    font-size: 14px;
    padding: 5px;
    cursor: default;

}
span {
    font-size: 14px;
    padding: 5px;
}


.logo {
    width: 80px;
    height: auto;
}

/* Profile page config */

#profile-fullname,
#profile-email {
    display: flex;     
    flex-direction: column; 
    gap: 5px;              
}

#profile-fullname p,
#profile-email p {
    margin-bottom: 0;
}

#profile-email span, p {
    cursor: default;
}


/* Header Styles */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #f1c064;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: sticky;
    top: 0;
    z-index: 999;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    cursor: pointer;
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* Pop-up Form Box */
.popup {
    position: fixed;
    width: 50%;
    max-width: 400px; /* Prevent the pop-up from becoming too wide */
    min-width: 300px; /* Prevent the pop-up from becoming too narrow */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center it initially */
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, .5);
    z-index: 1000; /* Popup stays on top of overlay */
    opacity: 0; /* Initially hidden */
    visibility: hidden; /* Ensure it's not visible */
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out, visibility 0s 0.6s; /* Smooth transition */
}

.popup:target {
    transform: translate(-50%, -50%) scale(1); /* Full scale */
    opacity: 1; /* Make it visible */
    visibility: visible; /* Make the pop-up visible */
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out; /* Smooth transition without delay */
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.popup h3,input {
    font-family: Montserrat;
    font-weight: 500;
}

/* Pop up animation */

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fadeIn {
    animation: fadeIn 0.4s ease-in-out;
}
/* ===================================================== */

h3 {
    text-align: center;
    margin-bottom: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap; /* Allow inputs to wrap if necessary */
    gap: 10px; /* Space between input fields */
    justify-content: center; /* Center inputs horizontally */
    width: 100%; /* Ensure inputs do not overflow */
}

.popup input {
    width: 100%;
    display:flex;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-end;
}

.popup button {
    font-family: Montserrat;
    font-weight: 100;

    padding: 10px 20px;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    min-width: 80px;
}

#save-name-button, #cancel-name-button {
    font-family: Montserrat;
    font-weight: 500;
}
#save-name-button {
    color: #fff;
    background: -webkit-linear-gradient(120deg, #e2a83b, #088178);
}
#save-name-button:hover {
    color: #111;
    background: -webkit-linear-gradient(120deg, #088178, #e2a83b);
}
#cancel-name-button {
    color: #fff;
    background-color: #aaa;
}
#cancel-name-button:hover {
    color: #111;
    background-color: #ccc;
}

/* Settings page */
.fa-solid, .fas {
    font-weight: 900;
}

.fa-solid a {
    font-weight: 500;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

#settings-description .fa-solid, .fas {
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;

}

#settings-content button {
    margin: 10px 10px 10px 10px;
    font-weight: 500;
    color: #fff;
    background: -webkit-linear-gradient(120deg, #088178, #e2a83b);
}

#settings-content button:hover {
    color:#111;
    background: -webkit-linear-gradient(120deg, #e2a83b, #088178);
}


/* Buttons */
button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.5s;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

#user-fullname-info button {
    font-weight: 400;
    color: #111;
    background: #ccc;
    margin: 0 10px 10px 10px;
    padding: 8px 16px; /* Adjust padding to make the button thinner */
    width: auto; /* Ensures the button width adjusts based on content */
    text-align: center; /* Centers the text */
    border-radius: 4px; /* Ensures the button corners are rounded */
}

#user-fullname-info button:hover {
    color: #fff;
    background: -webkit-linear-gradient(120deg, #e2a73bad, #088179ad);
}

/* Content Containers */
.content-container {
    width: 70%;
    margin: 25px auto;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
}

/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    right: 0;
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style: none;
    padding: 0; /* Remove extra padding around the entire list */
    margin: 20px 0 0 0;
    width: 350px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    border-radius: 8px; /* Add border-radius to the entire dropdown */
}

.dropdown-content li {
    margin: 0; /* Remove margin between options */
    padding: 20px; /* Increase the padding for height */
    background-color: #fff;
    cursor: pointer;
    height: 60px; /* Set a specific height for each option */
    line-height: 60px; /* Align text vertically within the option */
    border-radius: 8px; /* Add border-radius to each option */
    transition: .7s ease; /* Smooth transition for hover */
}

/* Remove hover effect for the first option */
.dropdown-content li:first-child:hover {
    cursor: default;
    background: none; /* Remove background change */
    color: inherit; /* Keep the default text color */
}

/* Hover effect for other options */
.dropdown-content li:hover {
    color: #fff;
    background: -webkit-linear-gradient(120deg, #e2a73bad, #088179ad);
    cursor: pointer;
}
/* Keep the hover effect on the active dropdown item */
.dropdown-content li.active {
    background: -webkit-linear-gradient(120deg, #e2a83b, #088178);
    color: white; /* Change text color to contrast the background */
}

.dropdown.show .dropdown-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* Media Queries */
@media (max-width: 475px) {
    .popup {
        width: 90%; /* Adjust the width for smaller screens */
    }
    .popup input {
        flex: 1 1 100%; /* Stack inputs on smaller screens */
    }
    .button-group {
        flex-direction: row; /* Keep buttons in a row */
        flex-wrap: nowrap; /* Avoid wrapping buttons */
    }
    #header {
        padding: 10px 30px;
    }
    .dropdown-content {
        position: fixed;
        width: 300px;
    }
    #main-content .content-container {
        width: 90%;
    }
    #settings-content {
        width: 90%;
    }
}
