/* Modal and Content */
.modal {
    display: none;
    position: fixed;
    z-index: 99999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

#checkoutModal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    transition: 1s;
}

#checkoutModal .modal-content {
    display: flex;
    flex-direction: row; /* Two columns by default */
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box; /* Include padding and border in the element's width */
}

/* Apply flex to both columns */
.column, .column-note {
    flex: 1; /* Equal width for both columns */
    box-sizing: border-box; /* Include padding/border in the element's width */
}

/* Form Styling */
h2, h3, p {
    margin-bottom: 15px;
    margin-top: 15px;
    color: #000;
}

form label {
    display: block;
    margin: 15px 0 5px;
    font-weight: bold;
    color: #333;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form select,
form textarea {
    width: 100%; /* Default to full width for larger screens */
    padding: 12px;
    margin: 5px 0 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.checkbox input[type="checkbox"] {
    margin-right: 10px;
}

button.normal {
    color: #fff;
    background-color: #088178;
    padding: 12px 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button.normal:hover {
    background-color: #e2a83b;
    color: #088178;
}

.close-btn {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
}

.close-btn:hover {
    color: red;
}

/* Checkout Modal */
.column-note h4 {
    font-size: 16px;
    padding-bottom: 10px;
}

#checkoutModal .modal-content hr {
    margin: 5px 0 10px 0;
}

/* Responsive for Small Screens */
@media (max-width: 1024px) {
    #checkoutModal .modal-content {
        flex-direction: column; /* Stack columns vertically for medium screens */
    }
}

/* Responsive for Small Screens */
@media (max-width: 477px) {
    form input[type="text"],
    form input[type="email"],
    form input[type="tel"],
    form select,
    form textarea {
        width: 100%; /* Set width to fit horizontally on smaller screens */
        margin-right: 15px; /* Space between fields */
        display: inline-block; /* Keep fields inline */
        margin-bottom: 7px;
        margin-top: 7px;
    }
    .column-note p, li {
        font-size: 12px;
    }
    .column-note h4 {
        font-size: 16px;
        padding-bottom: 5px;
    }
    .column-note li {
        padding-bottom: 5px;
    }
    button.normal {
        width: 100%; /* Make the button full-width for small screens */
    }

    /* Stack the columns for smaller screens */
    #checkoutModal .modal-content {
        width: 100%;
        flex-direction: column; /* Change to column layout on small screens */
    }

    #checkoutModal .modal-content hr {
        margin: 5px 0 10px 0;
    }

    /* Adjust form column layout */
    .column, .column-note {
        width: 100%; /* Ensure each column takes up the full width on smaller screens */
        margin-bottom: 10px;
    }

    .row {
        flex-direction: column;
    }
}
